img {
    height:  3.5rem;
}

.header {
    justify-content: center;
    height: 10%;
    background-color: rgb(255, 255, 255);
    
}

span {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    padding-left: 1rem;
}
